/* App.css */

.app-container {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  background-color: #dedbc8; /* Set the background color for the entire page */
  background-image: url(../../assets/home_images/grain.svg);
}
