/* App.css */

.app-container {
  margin: 0;
  padding: 0;
  background-color: #dedbc8; /* Set the background color for the entire page */
  background-image: url(../../assets/home_images/grain.svg);
}

.main__title {
  font-size: 9vw;
  font-family: "Lora", sans-serif;
  font-weight: 700;
  width: 100%;
  text-align: center;
  padding-top: 0%;

  /* @media screen and (min-width: 1200px) {
    font-size: 5rem;
    margin-top: 6rem;
  } */
}
